<div class="col-md-6 offset-md-3 mt-4">
    <h3 class="text-center">Registro de Cliente</h3>
    <form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
      <div class="form-group">
        <label>Nombre Completo: </label>
        <input type="text" class="form-control" id="nombreCompleto" [(ngModel)]="cliente.nombreCompleto" name="nombreCompleto" required>
      </div>
      <div class="form-group">
        <label>DNI: </label>
        <input type="text" class="form-control" id="dni" [(ngModel)]="cliente.dni" name="dni" required>
      </div>
      <div class="form-group">
        <label>Email: </label>
        <input type="email" class="form-control" id="email" [(ngModel)]="cliente.email" name="email" required>
      </div>
      <div class="form-group">
        <label>Comercializadora: </label>
        <input type="text" class="form-control" id="comercializadora" [(ngModel)]="cliente.comercializadora" name="comercializadora" required>
      </div>
      <div class="form-group">
        <label>Teléfono: </label>
        <input type="text" class="form-control" id="telefono" [(ngModel)]="cliente.telefono" name="telefono" required>
      </div>
      <div class="form-group">
        <label>Número CUPS: </label>
        <input type="text" class="form-control" id="numeroCUPS" [(ngModel)]="cliente.numeroCUPS" name="numeroCUPS" required>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!clienteForm.valid">Registrar Cliente</button>
    </form>
  </div>
  